log/*
cluster_score/2020*
cluster_score/2021*
cluster_score/2022*
cluster_score/Average/*.csv
.vscode/*.json
rviz_config/*
src/dbscan_parameter/log*
src/dbscan_parameter/train_list.txt
cluster_score/radar_scenes/*
cluster_score/radar_scenes/f1score/*.csv