<launch>
    <node pkg="radar_odometry"    type="radar_ego_motion" name="radar_ego_motion"/>
    <!-- default value -->
    <!-- <param name="vel_threshold"    value="0.1"/> -->
    
    <param name="vel_threshold"         value="0.2"/>
    
    <node pkg="track"             type="radar_track"      name="radar_track"      output="screen"/>
    <param name="output_KFT_result"     value="false"/>
    <param name="output_obj_id_result"  value="false"/>
    <param name="output_radar_info"     value="true"/>
    <param name="output_cluster_info"   value="false"/>
    <param name="output_dbscan_info"    value="true"/>
    <param name="output_DA_pair"        value="false"/>
    <param name="DA_method"             value="false"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find track)/rviz_config/nuscenes_track_rviz.rviz"/>
</launch>